@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Segoe-ui";
  src: url("./assets/fonts/Segoe%20UI.woff") format("woff");
}

:root {
  font-family: "Segoe-ui", sans-serif;
  color: #fff;
  padding: 0;
  margin: 0;
}

body{
  padding: 0;
  margin: 0;
  background-color: black;
}

*{
  margin: 0;
}

@keyframes loadBar {
  from { width: 0% }
  to   { width: 100% }
}

.loading-bar {
  animation: loadBar linear forwards;
}

button{
  background-color: #ffffff1c;
  border: 1px solid #ffffff24;
  border-radius: 10px;
  color: #fff;
  padding: 10px;
  
}

.container {
  transition: opacity 0.5s ease;
  opacity: 1;
}

.fade-in {
  opacity: 1;
}

.fade-out {
  opacity: 0;
}

.comp{
  border-radius: 0.375rem;
  padding: 0.45rem;
  border: 1px solid rgba(255, 255, 255, 0.00);
  
}
.comp:hover{
  background-color: #ffffff20;
  border: 1px solid rgba(255, 255, 255, 0.05);
}

.popModel{
  @apply bg-black rounded-lg bg-opacity-40 backdrop-blur-xl border border-white border-opacity-20 ;
}